html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

* {
    color: white;
}

#header {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
}

#timer {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #2B3044;
    box-shadow: 2px 4px 10px 1px rgba(43, 48, 68, 0.69);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    transition: all 0.3s;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    gap: 20px;
}

#startButton {
    font-size: 16px;
    font-weight: 700;
    color: #7cff75;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 2px 2px 4px 0 rgba(6, 255, 0, 0.47);
    perspective: 600px;
    transition: transform 0.1s;
}

#startButton:active {
    transition: 0.3s;
    transform: scale(0.93);
    box-shadow: 0 0 0 0 rgba(6, 255, 0, 0.14);
}

#resetButton {
    font-size: 16px;
    font-weight: 700;
    color: #ffb366;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 2px 2px 4px 0 rgba(255, 179, 102, 0.47);
    perspective: 600px;
    transition: transform 0.1s;
}

#resetButton:active {
    transition: 0.3s;
    transform: scale(0.93);
    box-shadow: 0 0 0 0 rgba(255, 179, 102, 0.14);
}